* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white: #FFFF;
  
    --Background: #1A1D23;
    --Highlight: #FF57B2;
    --Heading: #F8F8F8;
    --Info: #BBBBBB;
    --Body: #D7D7D7;
  }
  
  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }
  
  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
  
  body{
    background: var(--Background);
    color: var(--white);
    font-family: 'Inter', sans-serif;
  }
  
  h1 {
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  span {
    font-size: 1.12rem;
    color: var(--Info);
  }